*{
    margin: 0;padding: 0;
    font: inherit;clear: inherit;
}
body{
    line-height: 1;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}

// μ„Έν…
body{
    font-family: $font-en;
}